html {
  height: 100%;
}

body {
  line-height: 1.4rem !important;
  font-family: 'Open Sans', sans-serif !important;
}

a:hover {
  text-decoration: none;
}

.link-custom {
  color: #3498DB;
}

.form-group input{
  margin-top: 30px;
  border-radius: 20px;
}

.navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100%-220px);
  height: 15vh;
  z-index: 10;
}

.navigation .input-container {
  margin-left: 15rem;
}

.navigation .input-container input {
  width: 250px;
}

.color-custom {
  background-color: #A2988F;
}
 
.navigation .user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.navigation .user-container h4 {
  color: #0F0803;
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.sidenavigation {
  height: 100vh;
  width: 220px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: #968C83;
  overflow-x: hidden;
  transition: all 400ms;
}

.sidenavigation a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #ffffff;
  display: block;
  font-family: 'Righteous', cursive;
  transition: all 250ms;
}

.sidenavigation a:hover {
  color: #dadada;
}

.element-container {
  width: 100%;
  height: 60px;
  position: relative;
  margin-top: 1rem;
  color: #FFF5EA;
  
}

.element {
  position: absolute;
  margin-top: 6.3%;
}

.active {
  position: relative;
  background: rgba(196, 196, 196, 0.7);
  transition: all 500ms;
}

.active::after {
  content: "";
  top: 0;
  right: 0;
  width: 3%;
  position: absolute;
  background: #ffffff;
  height: 100%;
}

.active-management {
  position: relative;
  height: 70px;
  background: rgba(196, 196, 196, 0.7);
}

.active-management::after {
  content: "";
  top: 0;
  right: 0;
  width: 3%;
  position: absolute;
  background: #ffffff;
  height: 100%;
}

.navigation {
  width: 100%;
  background: #C1B7AD;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  height: 5rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}


.custom-select {
  border-radius: 20px;
}
.custom-form {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #E9DFD4;
  background-clip: padding-box;
  border: 0px;

}

.custom-form:focus {
  outline: none !important;
  border: 0px;
}

.navigation-container {
  margin-left: 300px;
  margin-top: 1rem;
}

.user-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 4.2rem;
  margin-top: 1.1rem;
  display: inline-block;
}

.mr-negative {
  margin-top: -6.4px;
}

.mainpage {
  margin-left: 300px;
  padding: 0px 10px;
  margin-top: 6rem;
}

.card-shadow {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  background-color:#F5EBE0 ;
}

.page-item.active .page-link {
  background-color: #3498DB !important;
  border-color: #3498DB !important;
}

.cursor-pointer {
  cursor: pointer;
}

.ml-6 {
  margin-left: 4rem;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: .9rem;
  }

  .sidenavigation {
    width: 80px;
  }

  .mainpage {
    margin-left: 90px;
  }


  .active {
    height: 50px;
  }

  .active::after {
    width: 6px;
  }
  
  .active-management {
    height: 52px;
  }

  .active-management::after {
    width: 6px;
  }

  .option {
    display: none;
  }

  .navigation-container {
    margin-left: 125px;
  }
}

