<template>
  <div id="app">
    <SideBar isActive="books" />
    <NavBar />
    <div class="mainpage">
      <div class="container pt-4">
        <h3 class="text-center">List of Books</h3>
        <div class="row mt-2">
          <div class="col-11 col-sm-11 col-md-11 col-lg-11">
            <div class="row justify-content-end mr-1 mb-3">
              <b-button variant="fas fa-plus-circle" v-b-modal.addModal>
                Add Books
              </b-button>
            </div>
            <div class="card pl-4 pt-4 pr-4 mb-4 card-shadow">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Author</th>
                      <th scope="col">Copies <br />Available</th>
                      <th scope="col">Category</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(book, i) in books" :key="i">
                      <td>{{ book.name }}</td>
                      <td>{{ book.author }}</td>
                      <td>{{ book.copies }}</td>
                      <td>{{ book.category }}</td>
                      <td>
                        <a type="button" v-on:click="showEditModal(i)"
                          >
                        <img
                          src="@/assets/images/edit.png"
                          class="mr-2 cursor-pointer"
                          height="25"
                        /></a><a type="button" v-on:click="showDeleteModal(i)"
                          ><img
                            src="@/assets/images/delete.png"
                            class="mr-2"
                            height="16" /></a
                        ><img
                          src="@/assets/images/borrow.png"
                          class="cursor-pointer mr-2"
                          height="20"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <nav aria-label="Page navigation" class="mt-3">
                <ul class="pagination pagination-sm justify-content-end">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Prev</a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <b-modal id="addModal" centered title="Add Book">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Name" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="author" placeholder="Author"/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="copies" placeholder="Copies"/>
        </div>
        <div class="form-group">
          <label for="customSelect">Category</label>
          <select id="customSelect" name="cars" class="custom-select">
            <option selected disabled>Please select a category</option>
            <option value="History">History</option>
            <option value="Information Tech.">Information Tech.</option>
            <option value="Novel">Novel</option>
            <option value="Fiction">Fiction</option>
            <option value="Biography">Adventure</option>
          </select>
        </div>
      </form>
      <template #modal-footer>
        <b-button size="sm" variant="primary"  v-on:click="save">
          Add Book
        </b-button>
      </template>
    </b-modal>

    <b-modal id="editModal" centered title="Edit Book">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" v-model="editBook.name" class="form-control" id="name" placeholder="" />
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input type="text" v-model="editBook.author" class="form-control" id="author" placeholder="" />
        </div>
        <div class="form-group">
          <label for="copies">Copies</label>
          <input v-model="editBook.copies" class="form-control" id="copies" placeholder="" type="number"/>
        </div>
        <div class="form-group">
          <label for="customSelect">Category</label>
          <select id="customSelect" v-model="editBook.category" name="cars" class="custom-select">
            <option selected disabled>Please select a category</option>
            <option value="Fiction">Fiction</option>
            <option value="Computer Science">Computer Science</option>
            <option value="Horror">Horror</option>
            <option value="Novel">Novel</option>
            <option value="Biography">Biography</option>
          </select>
        </div>
      </form>
      <template #modal-footer = {cancel}>
        <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
        <b-button size="sm" variant="success" v-on:click="updateBook">
          Update Book
        </b-button>
      </template>
    </b-modal>

    <b-modal id="deleteModal" centered title="Confirm Delete">
      <p class="my-4">Are you sure you want to delete this?</p>
      <template #modal-footer="{ cancel }">
        <b-button variant="info" @click="cancel()"> Cancel </b-button>
        <b-button variant="danger" @click="deletebook"> Confirm </b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>

import SideBar from "../../Navigation/SideBar";
import NavBar from "../../Navigation/NavBar";

export default {
  name: "App",
  mounted() {
    document.title = "Books Management";
  },
  components: { SideBar, NavBar },
  methods: {},
  data() {
    return {
      books: [
        {
          name: "Philippine History",
          author: "Dora",
          copies: "5",
          category: "History",
        },
        {
          name: "Adobe Photoshop",
          author: "Danica Barrientos",
          copies: "7",
          category: "Information Tech.",
        },
        {
          name: "Da Vinci Code",
          author: "Dan Brown",
          copies: "8",
          category: "Novel",
        },
        {
          name: "Harry Potter",
          author: "J.K. Rowling",
          copies: "2",
          category: "Fiction",
        },
        {
          name: "Hunger Games",
          author: "Suzanne Collins",
          copies: "1",
          category: "Adventure",
        },
      ],
    };
  },
};
</script>

<style>
@import "../../../assets/css/style.css";
</style>
