<template>
  <div id="app">
    <SideBar isActive="index" />
    <NavBar />
    <div class="mainpage">
      <div class="container pt-4">
        <h6 class="text">Here are your records for the past months</h6>
        <div class="row mt-5">
          <div class="col-10 col-sm-10 col-lg-6 pb-3">
            <h6 class="text">Borrowed and Returned Books</h6>
            <canvas id="barchart" width="250" height="180"></canvas>
          </div>
          <div class="col-10 col-sm-10 col-lg-6 pb-3">
            <h6 class="text">Popular Book Genre</h6>
            <canvas id="piechart" width="250" height="180"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SideBar from "../../Navigation/SideBar";
import NavBar from "../../Navigation/NavBar";
import Chart from "chart.js";

export default {
  components: { SideBar, NavBar },
  data() {
    return {
      msg: "Hello World!",
    };
  },
  mounted() {
    document.title = "Dashboard";
    this.$nextTick(() => {
      var ctx1 = document.getElementById('barchart').getContext('2d');
      new Chart(ctx1, {
        type: "bar",
        data: {
          labels: ["JAN", "FEB", "MAR", "APR", "MAY", "JUNE", "JULY"],
          datasets: [
            {
              label: "Borrowed",
              data: [12, 19, 3, 5, 2, 3, 4],
              backgroundColor: [
                "rgba(124, 87, 157, 1)",
                "rgba(124, 87, 157, 1)",
                "rgba(124, 87, 157, 1)",
                "rgba(124, 87, 157, 1)",
                "rgba(124, 87, 157, 1)",
                "rgba(124, 87, 157, 1)",
                "rgba(124, 87, 157, 1)",
              ],
              borderWidth: 1,
            },
            {
              label: "Returned",
              data: [12, 19, 3, 5, 2, 3, 10],
              backgroundColor: [
                "rgba(209, 106, 151, 1)",
                "rgba(209, 106, 151, 1)",
                "rgba(209, 106, 151, 1)",
                "rgba(209, 106, 151, 1)",
                "rgba(209, 106, 151, 1)",
                "rgba(209, 106, 151, 1)",
                "rgba(209, 106, 151, 1)",
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      var ctx2 = document.getElementById("piechart").getContext("2d");
      new Chart(ctx2, {
        type: "doughnut",
        data: {
          labels: [
            "Romance Novel",
            "Narrative",
            "History",
            "Thriller",
            "Horror Fiction",
          ],
          datasets: [
            {
              label: "# of Votes",
              data: [12, 3, 13, 5, 2],
              backgroundColor: [
                "rgba(124, 87, 157, 1)",
                "rgba(253, 158, 130, 1)",
                "rgba(172, 93, 158, 1)",
                "rgba(209, 106, 151, 1)",
                "rgba(238, 128, 141, 1)",
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });
    });
  },
};
</script>

<style>
@import "../../../assets/css/style.css";
</style>
