body {
   
}

p, h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0;
}

.font-allura {
    font-family: 'Allura', cursive;
    font-size: 2rem;
}

.button-shop {
    background: rgba(226, 224, 212);
    padding: 5px 25px;
    outline: none;
    border: 0;  
    font-size: 1.2rem;
    box-shadow: 0px 2px rgba(39, 39, 39, 0.438);
}

.header {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-top: 30px;
}

.wrap {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}
.nav>li {
    margin-left: 120px;  
}
.nav>li>a {
    text-decoration: none;
    color: #CD9B8D;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav_btn {
    background-color: white;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo:hover {
    text-decoration: none;
}
.logo_img {
    display: block;
    height: 57px;
    width: 144px;
    background-image: url(../img/logo.svg);
    margin-right: 5px;
} 
.logo_text {
    color: #959595;
    font-size: 45px;
}
.whats-new-container {
    background: #E7CAC2;
    margin-left: 5px;
    margin-top: 30px;
    max-width: 850px;
    height: 380px;
    width: 100%;
    position: relative;
    left: 50px;
}

.elements{
    position: absolute;
    top: 15%;
    left: 0;
    color: #CD9B8D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-container {
    position: absolute;
    bottom: 10%;
    left: 18%
}
.whats-new-overlay-container {
    background: rgba(232, 232, 232, 0.692);
    max-width: 500px;
    height: 370px;
    width:100%;
    right: 5%;
    top: 40%;
    position: absolute

}
.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 80%;
    margin-top: -25%;
}

.frame2 {
    width:376px;
    height: 536px;
    margin-left: 250px;
}
.frame2-container {
    padding-left: 50%;
    scroll-padding-top: 50%;
    font-size: x-large;
}
.frame2-text {
    padding-left: 50%;
    scroll-padding-top: 50%;
    font-size: x-large;
    text-align: center;

}

.frame3text {
    margin-left: 610px;
    font-size: 35px;
    color:#CD9B8D;
}

.frame3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CEBEB9;
    
}

.frame33 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E7CAC2;
}
.frame34 {
    width: 121px;
    height: 167px;
    margin-left: 400px;
}
.frame4rec1 {
   margin-left: 420px;
   padding-top: 5%;
}

.padding-big {
    padding-top: 15rem;
}

.rectangle {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -10%;
    margin-left: -5%;
    background: #CD9B8D;
    width: 300px;
    height: 300px;
    z-index: -1;
}

.img-rect {
    position: absolute;
    top: 10%;
    left: 0;    
    margin-left: -5%;
    background: #cd9b8db2;
    width: 250px;
    height: 250px;
    z-index: -1;
}

.hr {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -15%;
    margin-left: -5%;
    background: #bbbbbb;
    width: 62%;
    height: 17px;
    z-index: -1;
}

.hr-follow {
    position: relative;
    bottom: 0;
    left: 0;
    background: #bbbbbb;
    width: 22%;
    height: 8px;
    margin-top: 5%;
    z-index: -1;
}

.text-container {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50%;
    margin-top: 20%;
}

.she-sell {
    position: absolute;
    top: 50%;
    right: 0;
}
.she-sell-text {
    text-orientation: upright;
    writing-mode: vertical-rl;
    font-weight: 400;
}
.frame4rec1 {
    margin-left: 420px;
    padding-top: 5%;
 }
 
 
  


