<template>
  <div>
    <div class="overlay"></div>
    <div class="login">
      <b-card class="rounded shadow login-form">
        <h5 class="text-center mt-5">Login</h5>
        <p class="text-center mb-4 text-secondary" style="font-size: 14px">
          Enter your credential
        </p>
        <b-form class="mt-3" @submit.prevent="login">
          <b-form-group
            class="my-3"
            id="fieldset-username"
            label="Username"
            label-for="input-username"
          >
            <b-form-input
              v-model="credential.username"
              type="text"
              size="sm"
              id="input-username"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            class="my-3"
            id="fieldset-password"
            label="Password"
            label-for="input-password"
          >
            <b-form-input
              v-model="credential.password"
              type="password"
              size="sm"
              id="input-password"
            ></b-form-input>
          </b-form-group>
          <b-button class="btn-login mt-3" type="submit">Login</b-button>
        </b-form>
      </b-card>
    </div>
  </div>
</template>

<script>
export default {
  async mounted() {
    document.title = "Admin Login - OPM Song Collection";
    const res = await this.$store.dispatch("CHECK_USER");
    if (res.status == 200) {
      this.$router.push("/");
    }
  },
  data() {
    return {
      credential: {},
    };
  },
  methods: {
    async login() {
      const res = await this.$store.dispatch("LOGIN", this.credential);
      if (res.status == 401) {
        this.$refs.login.reset();
        this.$toast.error("Login Failed!");
      } else if (res.status == 200) {
        this.$router.push("/");
      }
    },
  },
};
</script>