<template>
<div class="navigation">
    <div class="input-container">
        <input class="rounded-pill form-control form-control-sm" type="text" id="username" placeholder="🔎">
    </div>
    <div class="user-container">
      <img src="../../assets/img/user.png" height="38" class="mt-1 mr-2">
        <h4>Hi, Danica!</h4>
        <a href="" class="btn btn-dark color-custom border-0">Log-out</a>
    </div>
</div>
</template>