<template>
  <div class="sidenavigation">
    <div class="logo mt-5 mb-5">
      <img src="../../assets/img/logo.png" alt="Library System" />
    </div>
     
   <router-link to="/">
    <a href="index.html" :class="isActive == 'index' ? 'active' : ''">
      <div class="element-container">
        <div class="element">
          <img
            src="../../assets/img/dashboard.png"
            height="25"
            class="ml-4 mt-1 position-absolute"
          />
          <p class="ml-6 mt-1 option" href="">Dashboard</p>
        </div>
      </div>
    </a>
    </router-link>
    <router-link to="/patron">
    <a href="patron.html" class="">
      <div class="element-container">
        <div class="element">
          <img
            src="../../assets/img/patron management.png"
            height="25"
            class="ml-4 mt-2 position-absolute"
          />
          <p class="ml-6 option" href="">Patron Management</p>
        </div>
      </div>
    </a>
    </router-link>
    <router-link to="/books">
    <a href="books.html" class="">
      <div class="element-container">
        <div class="element">
          <img
            src="../../assets/img/book management.png"
            height="25"
            class="ml-4 mt-2 position-absolute"
          />
          <p class="ml-6 option" href="">Books Management</p>
        </div>
      </div>
    </a>
    </router-link>
    <router-link to="/settings">
    <a href="settings.html" class="">
      <div class="element-container">
        <div class="element">
          <img
            src="../../assets/img/settings.png"
            height="25"
            class="ml-4 mt-2 position-absolute"
          />
          <p class="ml-6 mt-2 option" href="">Settings</p>
        </div>
      </div>
    </a>
     </router-link>
  </div>
</template>
<script>
export default {
  props: {
    isActive: String,
  },
  data() {
    return {
      data: "",
    };
  },
  mounted() {},
};
</script>
