<template>
  <div id="app">
    <SideBar isActive="settings"/>
    <NavBar />
    <div class="mainpage"></div>
  </div>
</template>
<script>
import SideBar from "../../Navigation/SideBar";
import NavBar from "../../Navigation/NavBar";

export default {
  mounted(){
    document.title = "Settings"
  },
  components: { SideBar, NavBar },
  methods: {},
};
</script>

<style>
@import "../../../assets/css/style.css";
</style>