<template>
  <div id="app">
    <SideBar isActive="patron" />
    <NavBar />

    <div class="mainpage">
      <div class="container pt-4">
        <h3 class="text-center">List of Patron</h3>
        <div class="row mt-2">
          <div class="col-11 col-sm-11 col-md-11 col-lg-11">
            <div class="row justify-content-end mr-1 mb-3">
              <button
                style="background-color: #C7BEB6; border-radius: 20px;"
                data-toggle="modal"
                data-target="#addModal"
                class="btn"
              >
                Add Patron
                <i class="fas fa-plus-circle" style="color: #4F4F4F;"></i>
              </button>
            </div>
            <div class="card pl-5 pt-5 pr-5 mb-5 card-shadow">
              <div class="tableview">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Date Registered</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(patron, i) in patrons" :key="i">
                      <td>{{ patron.name }}</td>
                      <td>{{ patron.email }}</td>
                      <td>{{ patron.date }}</td>
                      <td>
                        <img
                          src="../../../assets/img/edit.png"
                          class="mr-2"
                          height="25"
                        /><a
                          type="button"
                          data-toggle="modal"
                          data-target="#deleteModal"
                          @click="$bvModal.show('deleteModal')"
                          ><img
                            src="../../../assets/img/delete.png"
                            class="mr-2"
                            height="16"
                        /></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <nav aria-label="Page navigation" class="mt-3">
                <ul class="pagination pagination-sm justify-content-end">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Prev</a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <b-modal id="addModal" centered title="Add Patron">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="First Name"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Middle Name"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Last Name"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Email address"
          />
        </div>
      </form>
      <template #modal-footer="{ ok }">
        <b-button size="sm" variant="primary" @click="ok()">
          Add Patron
        </b-button>
      </template>
    </b-modal>

    <b-modal id="deleteModal" centered title="Confirm Delete">
      <p class="my-4">Are you sure you want to delete this?</p>
      <template #modal-footer="{ ok, cancel }">
        <b-button variant="info" @click="cancel()"> Cancel </b-button>
        <b-button variant="danger" @click="ok()"> Confirm </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import SideBar from "../../Navigation/SideBar";
import NavBar from "../../Navigation/NavBar";

export default {
  mounted() {
    document.title = "Patron Management";
  },
  components: { SideBar, NavBar },
  methods: {},
  data() {
    return {
      patrons: [
        {
          name: "Rizal, Jose",
          email: "ilovePH@gmail.com",
          date: "Nov. 20, 1772",
        },
        {
          name: "Bonifacio, Andres",
          email: "toreurcedula@gmail.com",
          date: "Aug. 23, 1976",
        },
        {
          name: "Luna, Juan",
          email: "spolarium@gmail.com",
          date: "Sept. 11, 1997",
        },
        {
          name: "Silang, Gabriela",
          email: "henerala@gmail.com",
          date: "Jan. 3, 1502",
        },
        {
          name: "Luna, Antonio",
          email: "taga-ilog@gmail.com",
          date: "Oct. 30, 1621",
        },
      ],
    };
  },
};
</script>

<style>
@import "../../../assets/css/style.css";
</style>
