<template>
  <div>
    <div class="overlay"></div>
    <div class="music">
      <div class="music-content">
        <div class="container-songlist p-3">
          <h3 class="text-light">Available Songs</h3>
          <div class="songlist">
            <div v-for="song in songs" :key="song.id">
              <div class="song-item">
                <aplayer
                  class="player"
                  autoplay
                  :music="{
                    title: song.title,
                    artist: song.artist,
                    src: 'http://127.0.0.1:8000/uploads/' + song.featured_song,
                    pic: 'http://127.0.0.1:8000/uploads/' + song.featured_image,
                  }"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  async mounted() {
    await this.$store.dispatch("FETCH_HOME_SONGS");
  },
  computed: {
    songs() {
      return this.$store.getters.GET_SONGS_HOME;
    },
  },
};
</script>

<style>
</style>